* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg {
  background: linear-gradient(29deg, rgb(255, 255, 255), rgb(152, 243, 243));
  background-repeat: no-repeat;
  height: 100vh;
}

.login-card {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  box-shadow: 0 4px 5px 1px rgb(102, 99, 99);
  padding: 25px;
  height: 350px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.login-btn {
  width: 100%;
}

.register-card {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  box-shadow: 0 4px 5px 1px rgb(102, 99, 99);
  padding: 25px;
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-btn {
  width: 100%;
}

body {
  overflow-y: hidden;
}

.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.header-title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.header-add {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 12px;
}

.header-add-date {
  border-radius: 15px;
  outline: none;
  border: 1px #62d7e9 solid;
  padding: 5px 15px;
}

.header-add-text {
  border-radius: 15px;
  outline: none;
  border: 1px #62d7e9 solid;
  padding: 5px 15px;
  width: 350px;
}

.header-add-btn {
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 12px;
  width: 80px;
  outline: none;
  background: #62d7e9;
}

.task-list-btn {
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 12px;
  outline: none;
  width: 80px;
}

.header-profile {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  height: 60px;
}
.header-profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.header-profile:hover .header-profile-settings {
  display: block;
}

.header-profile-text {
  margin: 0;
}

.permissions {
  display: none;
}

.header-profile-settings {
  position: absolute;
  background: #fff;
  width: 110px;
  box-shadow: 0 0 5px 0 rgb(71, 70, 70);
  padding: 10px;
  list-style: none;
  top: 50px;
  left: 5px;
  display: none;
  z-index: 5;
}
.header-profile-settings li {
  cursor: pointer;
}
.header-profile-settings li:hover {
  font-weight: 700;
}
.header-profile-settings a {
  text-decoration: none;
  color: #000;
}

.switcher {
  position: relative;
  height: 12px;
  width: 35px;
  border-radius: 50px;
  background-color: #2c2b2b;
  cursor: pointer;
  margin: 0;
}

.switcher::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 10px;
  top: -3px;
  left: 0;
  background-color: white;
  transition: 0.5s;
  border: 1px #000 solid;
}

#check {
  display: none;
}

#lab {
  margin: 0;
}

#check:checked ~ #lab .switcher {
  background: rgb(27, 19, 75);
}
#check:checked ~ #lab .switcher::after {
  position: absolute;
  content: "";
  border-radius: 10px;
  left: 18px;
  background-color: #62d7e9;
  border: 1px #62d7e9 solid;
}

.main {
  display: flex;
}

.main-nav {
  width: 250px;
  height: 100vh;
}
.main-nav label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 60px;
  width: 100%;
  text-align: center;
  margin: 0;
  line-height: 4;
}

.content-block {
  display: none;
}

.tab {
  display: none;
}

.tab:nth-of-type(1):checked ~ .main-content .content-block:nth-child(1) {
  display: block;
}

.tab:nth-of-type(1):checked ~ .main-nav label:nth-child(1) {
  background: #62d7e9;
  color: #fff;
}

.tab:nth-of-type(2):checked ~ .main-content .content-block:nth-child(2) {
  display: block;
}

.tab:nth-of-type(2):checked ~ .main-nav label:nth-child(2) {
  background: #62d7e9;
  color: #fff;
}

.main-content {
  width: 100%;
  background: rgb(230, 227, 227);
}

.main-content-tasks-search {
  padding: 0 50px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content-tasks-search input {
  width: 60%;
  height: 30px;
  border-radius: 15px;
  outline: none;
  border: 1px #62d7e9 solid;
  padding: 5px 15px;
  background: none;
  font-size: 12px;
}

.task-list {
  padding: 0 50px;
  max-height: 71vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.task-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  border-radius: 25px;
  background: #fff;
  padding: 25px 20px;
  gap: 15px;
  font-size: 12px;
}

.task-list-item-indicator {
  flex-basis: 3%;
}
.task-list-item-indicator span {
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.to-do span {
  background: red;
  box-shadow: 0 0 5px 0 red;
}

.important span {
  background: orange;
  box-shadow: 0 0 5px 0 orange;
}

.done span {
  background: green;
  box-shadow: 0 0 5px 0 green;
}

.task-list-item-text {
  flex-basis: 60%;
  margin: 0;
  cursor: pointer;
}

.through {
  text-decoration: line-through;
}

.tast-list-item-date {
  flex-basis: 12%;
  margin: 0;
}

.task-list-item-date {
  flex-basis: 10%;
}

.edit-modal {
  display: none;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgba(59, 54, 54, 0.467);
}
.edit-modal-inner {
  width: 250px;
  height: 200px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.edit-modal-inner-buttons {
  display: flex;
  justify-content: space-between;
  width: 180px;
}
.edit-modal-inner-buttons button {
  padding: 4px 15px;
  font-size: 12px;
  outline: none;
}
.edit-modal-inner-buttons button:nth-child(1) {
  background: orange;
  border: orange;
}
.edit-modal-inner input {
  width: 180px;
  font-size: 12px;
  outline: none;
  height: 30px;
  padding: 10px;
}

@-webkit-keyframes animate {
  0% {
    right: -200%;
  }
  20% {
    right: 2px;
    position: static;
  }
  80% {
    right: 2px;
    position: static;
  }
  100% {
    right: -200%;
  }
}

@keyframes animate {
  0% {
    right: -200%;
  }
  20% {
    right: 2px;
    position: static;
  }
  80% {
    right: 2px;
    position: static;
  }
  100% {
    right: -200%;
  }
}
.notifications {
  position: fixed;
  top: 75px;
  right: 2px;
  min-width: 200px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notification {
  position: absolute;
  top: 0;
  right: -200%;
  min-width: 200px;
  max-width: 400px;
  height: 60px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
  transition: 0.5s;
  -webkit-animation: animate;
          animation: animate;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}
.notification p {
  margin: 0;
}

.show-notification {
  right: 2px;
}

.orange {
  background: orange;
}

.red {
  background: rgb(245, 73, 73);
}

.blue {
  background: rgb(60, 220, 241);
}

.green {
  background: rgb(116, 235, 37);
}

.show {
  display: block;
}

.main-content-category-inner {
  display: flex;
}

.category {
  position: relative;
  flex-basis: 33.3%;
  height: calc(100vh - 70px);
}
.category h2 {
  font-size: 14px;
  padding: 20px 0;
  text-align: center;
}

.category:nth-child(n+2)::before {
  content: "";
  width: 2px;
  height: 90%;
  background: rgb(177, 173, 173);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.tasks-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 100%;
  overflow-y: scroll;
}

.tasks-column::-webkit-scrollbar {
  width: 0;
}

.task-item {
  min-height: 90px;
  background: #fff;
  padding: 5px 10px;
  min-width: 90%;
  width: 90%;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgb(116, 114, 114);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 14px;
}
.task-item-text {
  margin: 0;
  border-bottom: 1px #000 solid;
}
.task-item-date {
  font-weight: 700;
}
.task-item-bottom {
  display: flex;
  justify-content: space-between;
}

.form-title {
  text-align: center;
  font-size: 20px;
}

.settings-card {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  box-shadow: 0 4px 5px 1px rgb(102, 99, 99);
  padding: 25px;
  height: 520px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-checkboxes {
  display: flex;
  justify-content: space-between;
  padding: 0 22px;
}
.form-checkboxes label {
  cursor: pointer;
}

.form-buttons {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.form-title {
  text-align: center;
  font-size: 20px;
}

.permissions-card {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  box-shadow: 0 4px 5px 1px rgb(102, 99, 99);
  padding: 25px;
  height: 400px;
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.users-form {
  width: 45%;
}

.add-form {
  width: 45%;
}

.add-form-checkboxes {
  display: flex;
  justify-content: space-between;
  padding: 0 22px;
  flex-wrap: wrap;
}
.add-form-checkboxes label {
  cursor: pointer;
}

.form-buttons {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.back-btn {
  width: 70px;
  position: absolute;
  left: -1px;
  top: 0;
}/*# sourceMappingURL=style.css.map */