body {
    overflow-y: hidden;
}

.header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.header-title {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.header-add {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 12px;

}

.hide{
    display: none;
}

.header-add-date {
    border-radius: 15px;
    outline: none;
    border: 1px #62d7e9 solid;
    padding: 5px 15px;
}

.header-add-text {
    border-radius: 15px;
    outline: none;
    border: 1px #62d7e9 solid;
    padding: 5px 15px;
    width: 350px;
}

.header-add-btn {
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 12px;
    width: 80px;
    outline: none;
    background: #62d7e9;
}

.task-list-btn {
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 12px;
    outline: none;
    width: 80px;

}

.header-profile {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    height: 60px;

    &-img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
}

.header-profile:hover {
    .header-profile-settings {
        display: block;
    }
}

.header-profile-text {
    margin: 0;

}

.header-profile-settings {
    position: absolute;
    background: #fff;
    width: 110px;
    box-shadow: 0 0 5px 0 rgb(71, 70, 70);
    padding: 10px;
    list-style: none;
    top: 50px;
    left: 5px;
    display: none;
    z-index: 5;

    li {
        cursor: pointer;
    }

    li:hover {
        // font-size: 13px; 
        font-weight: 700;
    }

    a{
        text-decoration: none;
        color: #000;
    }
}


.switcher {
    position: relative;
    height: 12px;
    width: 35px;
    border-radius: 50px;
    background-color: #2c2b2b;
    cursor: pointer;
    margin: 0;

}

.switcher::after {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 10px;
    top: -3px;
    left: 0;
    background-color: white;
    transition: 0.5s;
    border: 1px #000 solid;
}

#check {
    display: none;
}

#lab {
    margin: 0;

}

#check:checked~#lab {
    .switcher {
        background: rgb(27, 19, 75);
    }

    .switcher::after {
        position: absolute;
        content: "";
        border-radius: 10px;
        left: 18px;
        background-color: #62d7e9;
        border: 1px #62d7e9 solid;

    }

}


.main {
    display: flex;
}

.main-nav {
    width: 250px;
    height: 100vh;

    label {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 60px;
        width: 100%;
        text-align: center;
        margin: 0;
        line-height: 4;
    }
}

.content-block {
    display: none;
}

.tab {
    display: none;
}

@for $i from 1 to 3 {
    .tab:nth-of-type(#{$i}):checked~.main-content {
        .content-block:nth-child(#{$i}) {
            display: block;
        }
    }

    .tab:nth-of-type(#{$i}):checked~.main-nav label:nth-child(#{$i}) {
        background: #62d7e9;
        color: #fff;
    }

}

.main-content {
    width: 100%;
    background: rgb(230, 227, 227);
}

.main-content-tasks-search {
    padding: 0 50px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        width: 60%;
        height: 30px;
        border-radius: 15px;
        outline: none;
        border: 1px #62d7e9 solid;
        padding: 5px 15px;
        background: none;
        font-size: 12px;
    }
}

.task-list {
    padding: 0 50px;
    max-height: 71vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.task-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 25px;
    border-radius: 25px;
    background: #fff;
    padding: 25px 20px;
    gap: 15px;
    font-size: 12px;

}

.task-list-item-indicator {
    flex-basis: 3%;

    span {
        display: block;
        width: 13px;
        height: 13px;
        border-radius: 50%;
    }
}

.to-do {
    span {
        background: red;
        box-shadow: 0 0 5px 0 red;
    }
}

.important {
    span {
        background: orange;
        box-shadow: 0 0 5px 0 orange;
    }
}

.done {
    span {
        background: green;
        box-shadow: 0 0 5px 0 green;
    }
}

.task-list-item-text {
    flex-basis: 60%;
    margin: 0;
    cursor: pointer;

}

.through {
    text-decoration: line-through;
}


.tast-list-item-date {
    flex-basis: 18%;
    margin: 0;
}

.task-list-item-date {
    flex-basis: 10%;
}

.edit-modal {
    display: none;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(59, 54, 54, 0.467);

    &-inner {
        width: 250px;
        height: 200px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

        &-buttons {
            display: flex;
            justify-content: space-between;
            width: 180px;

            button {
                padding: 4px 15px;
                font-size: 12px;
                outline: none;
            }

            button:nth-child(1) {
                background: orange;
                border: orange;
            }
        }

        input {
            width: 180px;
            font-size: 12px;
            outline: none;
            height: 30px;
            padding: 10px;

        }
    }

}

@keyframes animate {
    0%  {   right: -200%;}
    20% {
            right: 2px;
            position: static;
        }
    80% {
            right: 2px;
            position: static;
        }
    100%{  right: -200%;}
  }

.notifications{
    position: fixed;
    top: 75px;
    right: 2px;
    min-width: 200px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notification{
    position: absolute;
    top: 0;
    right: -200%;
    min-width: 200px;
    max-width: 400px;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    transition: 0.5s;
    animation: animate;
    animation-duration: 4s;
    p{
        margin: 0;
    }
}



.show-notification{
    right: 2px;
}

.orange{
    background: orange;
}

.red{
    background: rgb(245, 73, 73);
}

.blue{
    background: rgb(60, 220, 241);
}

.green{
    background: rgb(116, 235, 37);
}

.show {
    display: block;
}

.main-content-category-inner {
    display: flex;
}

.category {
    position: relative;

    flex-basis: 33.3%;
    height: calc(100vh - 70px);

    h2 {
        font-size: 14px;
        padding: 20px 0;
        text-align: center;
    }
}

.category:nth-child(n+2)::before {
    content: "";
    width: 2px;
    height: 90%;
    background: rgb(177, 173, 173);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.tasks-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 100%;
    overflow-y: scroll;
}

.tasks-column::-webkit-scrollbar {
    width: 0;
}

.task-item {
    min-height: 90px;
    background: #fff;
    padding: 5px 10px;
    min-width: 90%;
    width: 90%;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgb(116, 114, 114);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 14px;

    &-text {
        margin: 0;
        border-bottom: 1px #000 solid;
    }

    &-date {
        font-weight: 700;
    }

    &-bottom {
        display: flex;
        justify-content: space-between;
    }

}